<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Crypto Tracker</h1>
    </header>
    <section id="modal-body">
      <h2>{{coinInfo.coin_name}} | {{coinInfo.coin_id}}</h2>
      <h4>Price: {{coinInfo.last_price | number : '1.2-2' }}<br>
      24-Hour Volume: {{coinInfo.last_price | number : '1.2-2' }}<br>
      $100 = {{coinInfo100 }}<br>
      $250 = {{coinInfo250 }}<br>
      $5,000 = {{coinInfo5000}}</h4>

    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>
